<!DOCTYPE HTML>
<html>
   <head>
      <title>Best Flights</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <link rel="stylesheet" href="static/assets/css/main.css" />
   </head>
   <body class="is-preload">

            <section>


            <div class="svgBtnWrap">
<a class="btnSvg btnBlue" href="{{url_for('search')}}">
<svg height="160" width="260" viewBox="100 0 100 100" preserveAspectRatio="xMidYMid meet"><rect x="25" y="10" rx="50" ry="50" width="250" height="85"/><text x="150" y="60">Search Flights</text></svg>
</a>
	<a class="btnSvg btnBlue" href="{{url_for('subscribe')}}">
<svg height="160" width="260" viewBox="100 0 100 100" preserveAspectRatio="xMidYMid meet"><rect x="25" y="10" rx="50" ry="50" width="250" height="85"/><text x="150" y="60">Subscribe</text></svg>
</a>
	<a class="btnSvg btnBlue" href="{{url_for('airline_analysis')}}">
<svg height="160" width="260" viewBox="100 0 100 100" preserveAspectRatio="xMidYMid meet"><rect x="25" y="10" rx="50" ry="50" width="250" height="85"/><text x="150" y="60">Airline Analysis</text></svg>
</a>
</div>
            </section>


      <div class="made-with-love">
         <!-- Footer -->

          <ul class="icons">
               <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
               <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
               <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
               <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
         Made with
         <i>♥</i> by
         EconomicoDestination
      </div>
      <script src="https://cdn.jsdelivr.net/npm/airport-autocomplete-js@latest/dist/index.browser.min.js"></script>

      <script src="static/assets/js/main.js"></script>

   </body>
</html>
